/** Header **/

.header {
  min-height: 100vh;
  overflow: hidden;
}

.header .caption {
  margin-top: 30px;
  z-index: 9;
}

.header__list {
  margin-bottom: 40px;
}

.header__bullet {
  display: flex;
  align-items: center;
}

.header__bullet:before {
  content:'';
  height: 4px;
  width: 15px;
  background: #fff;
  margin-right: 17px;
}

.header .caption h1, .header .caption h5, .header__list, .header__cta-buttons  {
  transition: all ease-out 0.7s;
  will-change: transform;
}

.header__cta-buttons {
  display: flex;
  transform: translateY(100px);
  opacity: 0;
  transition-delay: 0.4s;
}

.header__cta-button {
  margin-right: 20px;
}

.header__cta-button:last-child {
  margin-right: 0;
}

.header .caption h1 {
  font-weight: 500;
  width: 65%;
  line-height: 51px;
  margin: 10px 0 15px 0;
  transform: translateX(-400px);
  opacity: 0;
}

.header .caption h5 {
  font-weight: 300;
  width: 55%;
  transition-delay: 0.2s;
  margin-bottom: 30px;
  opacity: 0;
  transform: translateX(-400px);
}

.header .caption h5 span {
  font-weight: 600;
}

.header__list {
  transform: translateX(-400px);
  opacity: 0;
  transition-delay: 0.3s;
}

.loaded {

  .header .caption h1 {
    transform: translateX(0);
    opacity: 1;
  }

  .header .caption h5 {
    transform: translateX(0);
    opacity: 1;
  }

  .header__cta-buttons {
    transform: translateY(0);
    opacity: 1;
  }

  .header__list {
    transform: translateX(0);
    opacity: 1;
  }

}

.header li {
  font-weight: bolder;
  font-size: 15px;
  width: 65%;
  margin: 10px 0;
  color: #fff;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .caption p {
  font-weight: 300;
  margin: 5px 0 30px;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .arrow {
  position: absolute;
  bottom: 0vh;
  height: 50px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 13px;
  z-index: 8;
}

.header .arrow .container {
  text-align: right;
  height: 100%;
}

.arrow__read-more {
  background-image: url(../img/arrow-line.png);
  background-position: right;
  background-repeat: no-repeat;
  height: 100%;
  line-height: 50px;
  padding-right: 20px;
  font-size: 14px;
  font-family: "Arame-Bold", sans-serif;
  transition: all ease-in-out 0.3s;
  transform: translateY(100px);
}

.loaded {
  .arrow__read-more {
    transform: translateY(0);
    transition: all ease-in-out 1s;

  }
}

.arrow__read-more span {
  transition: all ease-in-out 0.3s
}

.arrow__read-more:hover span {
  transform: translateY(-5px)
}

.header .arrow i {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
}

.header .arrow i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  z-index: -1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header .arrow i:hover:after {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media only screen and (min-width: 992px)  {
  .header {
    background-attachment: fixed;
  }
}

@media only screen and (min-width: 280px) and (max-width: 576px) {

  .header .caption h1  {
  }

  .header {
    padding: 50px 0 90px 0;
  }

  .header__cta-buttons {
    margin: 0 20px;
    flex-direction: column;
    .button:first-child {
      margin-bottom: 15px;
    }
  }

  .header__list {
    margin-left: 20px;
  }

  dl,
  ol,
  ul {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 10px;
  }

  .header .caption h5 {
    font-weight: 300;
    width: 95%;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .header .arrow {
    bottom: 2vh;
  }

  .header__list {
    margin-bottom: 20px;
  }

  .header .caption h1 {
    font-size: 33px;
    line-height: 1;
    font-weight: 500;
    width: 100%;
    margin: 20px 20px;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
  }
}

@media only screen and (min-width: 576px) {
  .header {
    padding: 30px 0 60px 0;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 30px 0 0 0;
  }
}
